<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="/stylesheets/estilodetalle.css">
    <link rel="stylesheet" href="/stylesheets/estiloinicio.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" charset="utf-8"></script>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    .checked {
        color: orange;
    }
</style>
</head>

<body>
    <nav id="barra">
        <ul class="navegador">
            <li>
                <a href="index"><img src="images/logo.png" alt=""></a>
            </li>
        </ul>
        <ul class="navegador">
            <li><a href="favoritos">Favoritos</a></li>
            <li><a href="genero">Generos</a></li>
            <li><a href="quiz">Te la tiro..</a></li>
            <li><a href="buscador">Buscador avanzado</a></li>
            <li class="buscar">
                <form class='buscadors' action='buscadorsimple' method='get'>
                    <input type='text' class="white" name='buscador' requiered value=''>
                    <input type='submit' class="lupa" name='' value=''>
                    <img class="lupita" src="images/Lupa.png" alt="">
                </form>
            </li>
        </ul>
    </nav>
    <div class="modal">
        <div class="flex">
            <div class="video">
                <div class="header-modal display">
                    <h3>Trailer</h3>
                    <ion-icon class="close" name="close"></ion-icon>
                </div>
                <div class="referencia">
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor">

        <div class="total">

        </div>
        <div class="Favoritos">
            <button type="button" name="button"></button>
        </div>
        <div class="trailer">

        </div>
        <div>
            <div class="login">
                <form action="addresena" method="POST">
                    <% if (error) { %>
                        <div style="width: 36%; padding: 5px; background-color: #f8d7da; border-radius: 5px;">
                            <p style="color: #721c24;"><%= error %></>
                        </div>
                    <% } %>
                    <input type="hidden" name="idPelicula" class="idPelicula">
                    <input type="text" name="username" placeholder="Username" required style="width: 189px; height: 30px;">
                    <input type="password" name="password" placeholder="Password" required style="width: 189px; height: 30px;"><br><br>
                    <textarea name="resena" class="input-resena" cols="50" rows="10" placeholder="Resena" required></textarea><br>
                    <div>
                        <label for="">Puntaje&nbsp;&nbsp;&nbsp;</label>
                        <span class="star-rating col-sm-10">
                          <input type="radio" name="puntaje" value="1"><i></i>
                          <input type="radio" name="puntaje" value="2"><i></i>
                          <input type="radio" name="puntaje" value="3"><i></i>
                          <input type="radio" name="puntaje" value="4"><i></i>
                          <input type="radio" name="puntaje" value="5"><i></i>
                        </span>
                    </div>
                    <br>
                    <button type="submit">Agregar Reseña</button>
                </form>
            </div>
        </div>

        <h2 class="recon">Títulos Similares</h2>

        <div class="rr1">

        </div>

        <div class="resena-list"></div>

    </div>


    <footer>
        <div class="footer">
            <div class="imag">
                <img src="/images/tmbd.png" alt="">
            </div>
            <div class="name">
                <div class="nombre"> Camille Sigmaringo</div>
                <div class="nombre">Julieta Newland </div>
            </div>
        </div>
    </footer>
</body>
<script src="/javascripts/detalle.js" charset="utf-8"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</html>