<footer>
    <div class="footer">
      <div class="imag">
        <img src="/images/tmbd.png" alt="">
      </div>
      <div class="name">
        <div class="nombre"> Camille Sigmaringo</div>
        <div class="nombre">Julieta Newland </div>
      </div>
      </div>

  </footer>
</div>
</div>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>
</html>