<DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/estiloinicio.css">

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" charset="utf-8"></script>
</head>
<body>
  <header>
    <nav id="barra">
      <ul class="navegador">
        <li class="logo"><a href="index"><img src="/images/logo.png" alt=""></a></li>
      </ul>
      <ul class="navegador">
        <li><a href="favoritos">Favoritos</a></li>
        <li><a href="genero">Generos</a></li>
        <li><a href="quiz">Te la tiro..</a></li>
        <li><a href="buscador">Buscador avanzado</a></li>
        <li class="buscar">
          <form class='buscadors' action='buscadorsimple' method='get'>
            <input type='text' class="white" name='buscador' requiered value=''>
            <input type='submit' class="lupa" name='' value=''>
            <img class="lupita" src="/images/Lupa.png" alt="">
          </form>
        </li>
      </ul>
    </nav>
  </header>

<div class="alert">

</div>

<div class="fondo">
  <div class="blur">

  <div class="contenedor">
    <h1>La favorita de la semana, Te la tiro:</h1>
    <div class="favsemana">
      <!--<div class='total'><div class='imagen'><img src=/images/poster.jpg alt=''>
      </div><div class='detalle'><div class='display'><h2 class='copia'>Moonlight</h2><h4 class='copia'>8.7<ion-icon name='star'></ion-icon></h4></div><h3 class='copia'>2019</h3><p class='copia'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div></div>-->
      <!--  ELEMPLO<div class="textof">
        <h2>Serie de la semana</h2>
        <h3>Título de la Series</h3>
        <div class="sem">
          <h4>2015</h4>
          <h5>8.7<ion-icon name="star"></ion-icon></h5>
        </div>
        <p>Resumen: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="fotof">
        <img src="/images/poster.jpg" alt="">
      </div>
    -->
    </div>
    <div class="titulo">
      <h3>Mejor puntuadas</h3>
    </div>
    <div class="puntuadas">

      <!-- EJEMPLO -->
      <!--
      <div class="punt">
        <img src=" /images/poster.jpg" alt="">
        <h5>Moonlight</h5>
        <h6>8,7<ion-icon name="star"></ion-icon></h6>
      </div> -->

    </div>



  <div class="titulo">
    <h3>Favoritas</h3>
  </div>
  <!--  <div class="fav">
      <img src="/images/poster.jpg" alt="">
      <h5>Moonlight</h5>
      <h6>8,7<ion-icon name="star"></ion-icon></h6>
    </div> -->
  <div class="favoritas"></div>
  <div class="titulo">
    <h3>Hoy en TV:</h3>
  </div>
  <!--<div class="tv">
    <img src="/images/poster.jpg" alt="">
    <h5>Moonlight</h5>
    <h6>8,7<ion-icon name="star"></ion-icon></h6>
  </div>-->
  <div class="alaire">

    </div>
  </div>


  <footer>
    <div class="footer">
      <div class="imag">
        <img src="/images/tmbd.png" alt="">
      </div>
      <div class="name">
        <div class="nombre"> Camille Sigmaringo</div>
        <div class="nombre">Julieta Newland </div>
      </div>
      </div>

  </footer>
</div>
</div>
<script>
  console.log(	request.session.loggedin)
  console.log(	session.loggedin)
</script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="/javascript/home.js" charset="utf-8"></script>
</body>
</html>
