<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Login Form Tutorial</title>
        <link rel="stylesheet" href="/stylesheets/estiloinicio.css">
  
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" charset="utf-8"></script>
		<style>
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		</style>
	</head>
	<body>
        <header>
            <nav id="barra">
              <ul class="navegador">
                <li class="logo"><a href="index"><img src="/images/logo.png" alt=""></a></li>
              </ul>
              <ul class="navegador">
                <li><a href="favoritos">Favoritos</a></li>
                <li><a href="genero">Generos</a></li>
                <li><a href="quiz">Te la tiro..</a></li>
                <li><a href="buscador">Buscador avanzado</a></li>
                <li class="buscar">
                  <form class='buscadors' action='buscadorsimple' method='get'>
                    <input type='text' class="white" name='buscador' requiered value=''>
                    <input type='submit' class="lupa" name='' value=''>
                    <img class="lupita" src="/images/Lupa.png" alt="">
                  </form>
                </li>
                <li><a href="login">Login</a></li>
                <li><a href="registro">Registro</a></li>
              </ul>
            </nav>
          </header>
<body>
		<div class="login-form">
            <h1>Login Form</h1>
            <% if (error) { %>
              <div style="padding: 5px; background-color: #f8d7da; border-radius: 5px;">
                  <p style="color: #721c24;"><%= error %></>
              </div>
            <% } %>
            <% if (success) { %>
              <div style="padding: 5px; background-color: #d4edda; border-radius: 5px;">
                  <p style="color: #155724;"><%= success %></>
              </div>
            <% } %>
			<form action="auth" method="POST">
				<input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" id="myInput" placeholder="Password" required><br>
                <input type="checkbox" onclick="myFunction()">Show Password
				<input type="submit">
			</form>
        </div>
        
        <script>
            function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
            </script>
	</body>
</html>