<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/quiz.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" charset="utf-8"></script>
    <script src="/javascripts/quiz.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <nav id="barra">
        <ul class="navegador">
          <li><a href="index"><img src="/images/logo.png" alt=""></a></li>
        </ul>
        <ul class="navegador">
          <li><a href="favoritos">Favoritos</a></li>
          <li><a href="genero">Generos</a></li>
          <li><a href="quiz">Te la tiro..</a></li>
          <li><a href="buscador">Buscador avanzado</a></li>
          <li class="buscar">
            <form class='buscadors' action='buscadorsimple' method='get'>
              <input type='text' class="white" name='buscador' requiered value=''>
              <input type='submit' class="lupa" name='' value=''>
              <img class="lupita" src="/images/Lupa.png" alt="">
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <div class="cuerpo">
      <h2>Una serie al azar, te la tiro:</h2>
    </div>
    <div class="total">

    </div>
    <div class="Probar">
      <div class="boton">
        <a href="quiz"><h3>Mostrar otra serie al Azar</h3></a>
      </div>
    </div>
    <div class="titulo">

    </div>
    <footer>
      <div class="footer">
        <div class="imag">
          <img src="/images/tmbd.png" alt="">
        </div>
        <div class="name">
          <div class="nombre"> Camille Sigmaringo</div>
          <div class="nombre">Julieta Newland </div>
        </div>
        </div>

    </footer>
  </body>
</html>
