<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/stylesheets/buscadorsimple.css">
      </head>
      <body>
        <header>
          <nav id="barra">
            <ul class="navegador">
              <li>logo</li>
            </ul>
            <ul class="navegador">
              <li><a href="favoritos">Favoritos</a></li>
              <li><a href="genero">Generos</a></li>
              <li><a href="quiz">Te la tiro..</a></li>
              <li><a href="buscador">Buscador avanzado</a></li>
            </ul>
            <ul class="navegador">
              <li class="buscar">
                <form class='buscadors' action='buscadorsimple' method='get'>
                  <input type='text' class="white" name='buscador' requiered value=''>
                  <input type='submit' class="lupa" name='' value=''>
                  <img class="lupita" src="/images/Lupa.png" alt="">
                </form>
              </li>
            </ul>
          </nav>
        </header>
        <main>
          <div class="resultado">

          </div>
          <div class="total">

          </div>

        </main>
        <footer>
            <div class="footer">
              <div class="imag">
                <img src="/images/tmbd.png" alt="">
              </div>
              <div class="name">
                <div class="nombre"> Camille Sigmaringo</div>
                <div class="nombre">Julieta Newland </div>
              </div>
              </div>
        </footer>
      </body>
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
      <script src="/javascripts/buscador-resultado.js" charset="utf-8"></script>

    </html>

</html>
