<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/ungenero.css">
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" charset="utf-8"></script>
</head>
<body>
  <header>
    <nav id="barra">
      <ul class="navegador">
        <li><a href="index"><img src="/imges/logo.png" alt=""></a></li>
      </ul>
      <ul class="navegador">
        <li><a href="favoritos">Favoritos</a></li>
        <li><a href="genero">Generos</a></li>
        <li><a href="quiz">Te la tiro..</a></li>
        <li><a href="buscador">Buscador avanzado</a></li>
        <li class="buscar">
          <form class='buscadors' action='buscadorsimple' method='get'>
            <input type='text' class="white" name='buscador' requiered value=''>
            <input type='submit' class="lupa" name='' value=''>
            <img class="lupita" src="/images/Lupa.png" alt="">
          </form>
        </li>
      </ul>
    </nav>
  </header>
  <div class="contenedor">
    <h2 class="titulo-genero"></h2>
    <div class="favsemana">
      <div class="textof">

      </div>
      <div class="total">

      </div>
    </div>
  </div>

  <div class="genre">

  </div>
  <div class="ver">
    <h3>Ver Mas...</h3>
  </div>
  <footer>
      <div class="footer">
        <div class="imag">
          <img src="/images/tmbd.png" alt="">
        </div>
        <div class="name">
          <div class="nombre"> Camille Sigmaringo</div>
          <div class="nombre">Julieta Newland </div>
        </div>
        </div>
  </footer>

<script src="/javascripts/ungenero.js" charset="utf-8"></script>
<!-- <script src="/javascripts/buscadorsimple.js" charset="utf-8"></script> -->
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</body>

</html>
