<%- include('header'); %>



    <h2>Mis datos</h2>
    
    <table style="border: solird 1px #000;" class="table myuserdetail">
        <tr>
            <th>Usuario</th>
            <th>Correo</th>
            <th>Fecha de Nacimiento</th>
        </tr>
        
    </table>


    <br><br><br><br><br>
    <h2>Mis Reseñas</h2>
    

    <table style="border: solird 1px #000;" class="table misresenas">
        <tr>
            <th>Pelicula</th>
            <th>Reseña</th>
            <th>Puntaje</th>
            <th>Fecha de Creacion</th>
            <th>Acciones</th>
        </tr>
        
    </table>

<script src="/javascripts/miperfil.js"></script>
    <%- include('footer'); %>